body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #45474b;
}
.header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header .logo {
  align-self: center;
  padding-left: 50px;
}
.header nav a {
  margin: 10px;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.header nav a:hover {
  background-color: white;
  color: #282c34;
}

.content {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}